<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Search Results</title>
  <!-- Dynamically generate the URL for the "output.css" file located in the "static" folder -->
  <link rel="stylesheet" href="{{url_for('static', path='output.css')}}"/>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  <!-- font-awesome icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
  {% endblock %}
</head>

<body class="bg-gray-900 text-gray-100 min-h-screen">
    <!-- Container -->
    <div id="content" class="container mx-auto p-4">
        {% include 'nav.html' %}
        {% block content %}
        {% endblock %}
    </div>
</body>
